<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.password">almacen</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@128.21.80.56:1521:APEX</property>
  <property name="hibernate.connection.username">almacen</property>
  <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Articulo.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/ArticuloPro.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Destinatario.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Estado.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Familia.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Perfil.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Persona.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Proveedor.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Puesto.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Seccion.hbm.xml"/>
  <mapping resource="com/patrimonio/plantillas/shared/clases/Subfamilia.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
