<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   
 <!-- SPRING SECURITY & SPRING -->
        <context-param>
           <param-name>contextConfigLocation</param-name>
           <param-value>/WEB-INF/applicationContext.xml               
           </param-value>
        </context-param>
        <!-- SPRING SECURITY & SPRING -->
        
        <!-- SPRING SECURITY -->
        <!--filter>
                <filter-name>springSecurityFilterChain</filter-name>
                <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        </filter>

        <filter-mapping>
                <filter-name>springSecurityFilterChain</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping-->
        <!-- SPRING SECURITY -->

        <!-- SPRING -->
        <listener>
                <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
        </listener>
        <!-- SPRING -->

        <listener>
          <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
        </listener>
 <!-- SPRING SECURITY & SPRING  -->
 
 	<servlet>
		<servlet-name>articuloServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.ArticuloServiceImpl</servlet-class>
	</servlet>
	
 	<servlet>
		<servlet-name>destinatarioServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.DestinatarioServiceImpl</servlet-class>
	</servlet>
 
 	<servlet>
		<servlet-name>familiaServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.FamiliaServiceImpl</servlet-class>
	</servlet>
	
 	<servlet>
		<servlet-name>personaServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.PersonaServiceImpl</servlet-class>
	</servlet>
	 
 	<servlet>
		<servlet-name>proveedorServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.ProveedorServiceImpl</servlet-class>
	</servlet>
	
 	<servlet>
		<servlet-name>puestoServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.PuestoServiceImpl</servlet-class>
	</servlet>
	
 	 
 	<servlet>
		<servlet-name>seccionServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.SeccionServiceImpl</servlet-class>
	</servlet>
	
 	<servlet>
		<servlet-name>subfamiliaServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.Impl.SubfamiliaServiceImpl</servlet-class>
	</servlet>
 	
		
	<servlet-mapping>
		<servlet-name>articuloServlet</servlet-name>
		<url-pattern>/plantillas/articulo</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>destinatarioServlet</servlet-name>
		<url-pattern>/plantillas/destinatario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>familiaServlet</servlet-name>
		<url-pattern>/plantillas/familia</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>personaServlet</servlet-name>
		<url-pattern>/plantillas/persona</url-pattern>
	</servlet-mapping>
        
		<servlet-mapping>
		<servlet-name>proveedorServlet</servlet-name>
		<url-pattern>/plantillas/proveedor</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>puestoServlet</servlet-name>
		<url-pattern>/plantillas/puesto</url-pattern>
	</servlet-mapping>
        
		<servlet-mapping>
		<servlet-name>seccionServlet</servlet-name>
		<url-pattern>/plantillas/seccion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>subfamiliaServlet</servlet-name>
		<url-pattern>/plantillas/subfamilia</url-pattern>
	</servlet-mapping>
        
	
        	<!-- Front Controller for all GWT Spring based servlets -->
	<!--servlet>
		<servlet-name>gwt</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
        
	
	
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.patrimonio.plantillas.server.LoginServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/plantillas/login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gwt</servlet-name>
		<url-pattern>/gwtmodule/rpc/*</url-pattern>
	</servlet-mapping-->
	

        <!--  Esto funciona a la perfeccion para llamadas que no son por AJAX. por ejemplo, para esta aplicacion, esto solo funcionara
                  en caso que hagamos un refresh (F5) de la pagina. En caso que ejecutemos una accion, como por ejemplo, presionamos un boton
                  esto funcionará a medias. Es decir, no redireccionara al login o no mostrara al usuario que es lo que paso, pero 
                  tampoco llevara a cabo la accion, ya que se vencio la session del usuario. -->
        <session-config>
            <session-timeout>1</session-timeout> <!-- in minutes -->
        </session-config>
    
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Plantillas.html</welcome-file>
  </welcome-file-list>

</web-app>
